* {
    margin: 0;
    padding: 0;
}

.cap-main {
    background-image: url("images/osn.png");
}

.cap-main__head {}

.cap-main__escape {}

.cap-main__links {}

.cap-main__links-link {}

.cap-main-body {}

.cap-man-body__text {}

.cap-main-body__button {}

.text-under-head {}

.text-under-head__text {}

.groups {}

.groups-group1 {}

.group-header {}

.groups-group1__info {}

.group-group1__info-pers {}

.groups-group2 {}

.groups-group2__info {}

.group-group2__info-pers {}

.second-body {}

.second-body-1 {}

.september {}