* {
    margin: 0;
    padding: 0;
}


.navbar {
    height: 565px;
}

.container {
    max-width: 940px;
    margin: 0px auto;
}

.navbar__background {
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 500px;
    object-fit: cover;
}


.navbar__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    padding-top: 20px;
}



.navbar__title {
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
}

.navbar__header {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 4.2px;
    color: #FFFFFF;
    text-align: center;
}

.navbar__links {
    list-style: none;
    display: flex;
}

.item-links {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: white;
    text-decoration: none;
}

.links__beetwen:not(:last-child) {
    margin-right: 25px;

}

.navbar__text {
    margin-top: 19px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0.4px;
    color: rgba(255, 255, 255, 0.63);
}

.navbar__button {
    margin-top: 31px;
    width: 167px;
    height: 44px;
    background: #DD783F;
    border-radius: 3px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border-style: none;
}

.navbar-block {
    background: #ffffff no-repeat;
    position: relative;
    z-index: 10;
    top: 33%;
}

.navbar-block__links {
    display: flex;
}


.item-nb-links {
    list-style: none;
    font-family: 'Lora';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #768088;
}

.item-nb-links:not(:last-child) {
    margin-right: auto;
}


.posts {
    background: #F7F7F7;
    padding-bottom: 108px;
}



.posts__title {
    padding-top: 58px;
    padding-bottom: 16px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
    border-bottom: 3px #DEDEDE solid;
    width: 200px;
    margin: auto;
}

.big-posts__body {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 460px);
    justify-content: center;
    gap: 20px;
}

.post-one__image {
    position: absolute;
    z-index: 1;
}

.z-indexpos {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 280px;
}

.post__header {
    margin-left: 20px;
}

.post__title-link {
    text-decoration: none;
    color: #FFFFFF;
}

.post__title {
    text-decoration: none;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
}

.post__text {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 6px;
}

.info__percon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-padding {
    position: relative;
    top: 1px;
    padding-right: 5px;
}

.person__name {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    top: -7px;
}

.info__data {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 4px;
    position: relative;
    top: -7px;
}

.post__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px 5px 20px;
}



.small-post__background-text {
    background-color: #FFFFFF;
}

.small-posts__body {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 296px);
    justify-content: center;
    gap: 25px;
}

.small-post__image-size {
    width: 296px;
    height: 150px;
}

.info__person-size {
    width: 26px;
    height: 26px;
    border-radius: 13px;
}

.decor {
    text-decoration: none !important;
}

.small-post__header {
    margin-top: -4px;
    padding: 14px 0px 6px 13px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
    text-decoration: none;

}

.container__text {
    display: block;
    height: 50px;
    border-bottom: 2px #EFEFEF solid;
    margin-bottom: 12px;
}

.small-post__text {
    padding: 0px 28px 32px 13px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
    display: block;
}

.small-post__info {
    display: flex;
    justify-content: space-between;
}

.info__person-s {
    margin-left: 12px;
}


.info__data-s {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #999999;
    margin-left: 5px;
    position: relative;
    top: -7px;
}

.info__data-date {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #999999;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 100px;
}

.footer__background {
    height: 378px;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.footer__navbar {
    background-color: rgba(35, 47, 56, 0.6);
    width: 100%;
    height: 70px;
    z-index: 10;
}


.footer__form-found {
    position: relative;
    z-index: 10;
}


.form-found__other {
    display: flex;
    flex-direction: row;
    margin-top: 17px;
}

.form-found__title {
    display: block;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: white;
    padding-bottom: 17px;
    width: 200px;
    position: relative;
    margin: auto;
    border-bottom: 1px #DEDEDE solid;
}

.form-found__search-txt {
    height: 50px;
    width: 340px;
    background: #FFFFFF;
    border-style: none;
    border-radius: 3px;
    padding-left: 35px;
}

.form-found__button-sumbit {
    height: 50px;
    width: 125px;
    background: rgba(255, 255, 255, 0.28);
    border-style: none;
    border-radius: 3px;
}

.form-found__text-sumbit {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #F8F8F8;
}

.footer__navbar img {
    margin-left: 10px;
}


.footer__link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.navbar__decoration {
    list-style: none;
}

@media (max-width: 1024px) {
    .container {
        max-width: 700px;
    }

    .big-posts__body {
        grid-template-columns: repeat(2, 345px);
        gap: 15px;
    }

    .post-one__image {
        max-width: 345px;
        height: 280px;
    }

    .small-posts__body {
        grid-template-columns: repeat(3, 222px);
        gap: 20px;
    }

    .small-post__image-size {
        width: 222px;
        height: 150px;
    }

    .small-post__text {
        padding: 0px 22px 32px 13px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 480px;
    }

    .navbar {
        height: 551px;
    }

    .navbar-block {
        top: 8%;
    }

    .navbar__background {
        height: 430px;
    }

    .navbar__title {
        margin-top: 55px;
        margin-bottom: 70px;
    }

    .item-nb-links {
        margin-right: auto;
        margin-left: auto;
    }

    .navbar-block__links {
        display: grid;
        grid-template-columns: 120px 120px 120px;
        justify-content: center;
        gap: 25px;
    }

    .big-posts__body {
        grid-template-columns: repeat(1, 440px);
        gap: 15px;
    }

    .post-one__image {
        max-width: 440px;
        height: 280px;
    }


    .small-posts__body {
        grid-template-columns: repeat(1, 440px);
        gap: 20px;
    }

    .small-post__image-size {
        width: 440px;
        height: 150px;
    }

    .small-post__text {
        padding: 0px 22px 32px 13px;
    }

}