<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/styleAhead.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="navbar__body cap__body">
            {{ range .HeaderPost }}
            <div class="navbar__head head">
                <img class="navbar__escape" src="{{ .Escape }}" alt="kek">
                <ul class="navbar__links">
                    {{ range .Nav }}
                    <li><a href="{{ .FirstURL }}" class="item-links">{{ .First }}</a></li>
                    <li><a href="#" class="item-links">{{ .Second }}</a></li>
                    <li><a href="#" class="item-links">{{ .Third }}</a></li>
                    <li><a href="#" class="item-links">{{ .Fourth }}</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
    </header>
    {{ range .PostInfo }}
    <section>
        <div class="navbar__title">
            <h1 class="navbar__header">{{ .Title }}</h1>
            <p class="navbar__text">{{ .Subtitle }}</p>
        </div>
        <img class="top-img" src="{{ .Image }}" alt="...">
    </section>
    <section class="text__position">
        <p class="text__specifications">{{ .Content}}</p>
    </section>
    {{ end }}

    {{ range .Footer}}
    <footer class="footer">
        {{ range .FormFound}}
        <div class="footer__form-found">
            <div class="form-found__position">
                <p class="form-found__title">{{ .Title}}</p>
                <div class="form-found__other">
                    <input type="text" class="form-found__search-txt" placeholder="Enter your email">
                    <button class="form-found__button-sumbit"><span class="form-found__text-sumbit">{{ .Button
                            }}</span></button>
                </div>
            </div>
        </div>
        {{ end }}
        {{ range .NavbarFooter}}
        <div class="footer__navbar">
            <div class="navbar__head">
                <div class=""><img class="footer__escape" src="{{ .Escape }}" alt="kek"></div>
                <ul class="footer__links navbar__links">
                    {{ range .Nav}}
                    <li><a href="{{ .FirstURL }}" class="footer__link item-links">{{ .First }}</a></li>
                    <li><a href="#" class="footer__link item-links">{{ .Second }}</a></li>
                    <li><a href="#" class="footer__link item-links">{{ .Third }}</a></li>
                    <li><a href="#" class="footer__link item-links">{{ .Fourth }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
        {{ end }}
    </footer>
    {{ end }}
</body>

</html>